.home{
  padding: 5em 0px;
}

.heroContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 44vh;
}

.heroTitle{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.heroDescription{
  font-size: 0.9em;
  margin-bottom: 1em;
}